/Lab 1/nbproject/private/
/Lab 1/build/
/Assignment1_PersonProfile/nbproject/private/
/PersonProfile_New/nbproject/private/
/Assignment1_PersonProfile/build/
/Lab 2/nbproject/private/
/Lab 2/build/
/Assignment2_Café_Management_Application/nbproject/private/
/Assignment2_Café_Management_Application/build/
/Assignment2_Café_Management_Application/dist/
/ProfileWorkareaExample_fall2025/dist/
