/Lab 1/nbproject/private/
/Lab 1/build/
/Assignment1_PersonProfile/nbproject/private/
/PersonProfile_New/nbproject/private/
/Assignment1_PersonProfile/build/
/Lab 2/nbproject/private/
/Lab 2/build/
/Assignment2_Café_Management_Application/nbproject/private/
/Assignment2_Café_Management_Application/build/
/Assignment2_Café_Management_Application/dist/
/ProfileWorkareaExample_fall2025/dist/
/ProfileWorkareaExample_fall2025/build/
/lab 1/nbproject/private/
/lab 1/dist/
/lab 1/build/
/Lab 1/dist/
/lab1/nbproject/private/
/lab1/build/
/lab2/nbproject/private/
/lab2/build/
/lab3/nbproject/private/
/lab3/build/
/lab4/nbproject/private/
/lab4/build/
/Assignment2_cafe/nbproject/private/
/Assignment2_cafe/build/
/Assignment 3/nbproject/private/
/Assignment 3/dist/
/Assignment 3/build/
